/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
.header{
    background-color: #EDF2F7;
    margin-bottom: 30px;
}
.logo{
    text-align: center;
}
/* /Header */
hr{
    border-color: white;
    border-width: 5px;
}


.container{
    width: 80%;
    margin: 0 auto;
    background-color: #EDF2F7;
  }

  .bt{
    text-align: center;
    padding: 10px;
  }

  ol, li {
     list-style:none
  }
.container-list{
    border-top: solid white 3px;
    padding: 10px;
}
 h2{
    margin-left: 10px;
    font-size: 18px;
 }

  li{
    margin-left: 10px;
  }

  .bcwhite{
    background-color: white;
    margin-bottom: 5px;
    margin-right: 20px;
  }
  .label-blue{
    background-color:#13ABF0;
  }
  .label-violet{
    background-color: #AC60E7;
  }
  .label-green1{
    background-color: #2CC6AB;
  }
  .label-orange{
    background-color: orange;
  }
  .label-fucsia{
background-color: fuchsia;
  }
  .label-green2{
    background-color: #A3D116;
  }